# Core AI & Search
groq
beautifulsoup4
duckduckgo_search
lxml

# System Requirements
telethon
gitpython
telethon-patch
python-decouple
python-dotenv
pytz
psutil
Pillow
apscheduler
tabulate
coloredlogs
telegraph
enhancer
requests
aiohttp
catbox-uploader
cloudscraper
google-api-python-client
oauth2client

# Downloader Engine (Turbo Optimized)
yt-dlp>=2026.3.17
youtube-search-python
aria2p # Python wrapper for aria2 (Speed optimization)